<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Microsoft 네이티브 권장 규칙의 복사본" Description="이러한 규칙은 잠재적 보안 허점 및 응용 프로그램 충돌을 포함하여 네이티브 코드의 가장 중요하고 일반적인 문제에 초점을 맞춥니다.  네이티브 프로젝트에 대해 만드는 모든 사용자 지정 규칙 집합에 이 규칙 집합을 포함해야 합니다.  이 규칙 집합은 Visual Studio Professional 이상 버전에서 사용하도록 디자인되었습니다." ToolsVersion="15.0">
  <Include Path="cppcorecheckrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26400" Action="None" />
    <Rule Id="C26401" Action="None" />
    <Rule Id="C26402" Action="None" />
    <Rule Id="C26403" Action="None" />
    <Rule Id="C26404" Action="None" />
    <Rule Id="C26405" Action="None" />
    <Rule Id="C26406" Action="None" />
    <Rule Id="C26407" Action="None" />
    <Rule Id="C26408" Action="None" />
    <Rule Id="C26409" Action="None" />
    <Rule Id="C26410" Action="None" />
    <Rule Id="C26411" Action="None" />
    <Rule Id="C26461" Action="None" />
    <Rule Id="C26470" Action="None" />
    <Rule Id="C26471" Action="None" />
    <Rule Id="C26481" Action="None" />
    <Rule Id="C26482" Action="None" />
    <Rule Id="C26483" Action="None" />
    <Rule Id="C26485" Action="None" />
    <Rule Id="C26490" Action="None" />
    <Rule Id="C26491" Action="None" />
    <Rule Id="C26492" Action="None" />
    <Rule Id="C26493" Action="None" />
    <Rule Id="C26494" Action="None" />
    <Rule Id="C26495" Action="None" />
    <Rule Id="C26496" Action="None" />
    <Rule Id="C26497" Action="None" />
    <Rule Id="C26498" Action="None" />
  </Rules>
</RuleSet>